In [3]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import csv

In [4]:
# Create a file path for the CSVs
summer_path= '/../Resources/summer.csv'
winter_path= '/../Resources/winter.csv'
dictionary_path= '/../Resources/dictionary.csv'

In [5]:
# Turn the Summer CSV into a Dataframe

summer_df=pd.read_csv(summer_path)
summer_df

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [6]:
# Turn the Winter CSV into a Dataframe
winter_df=pd.read_csv(winter_path)
winter_df

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, AndrÃ©",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold
...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

In [7]:
# Turn the Dictionary
# CSV into a Dataframe
dictionary_df=pd.read_csv(dictionary_path)
dictionary_df

             Country Code  Population  GDP per Capita
0        Afghanistan  AFG  32526562.0      594.323081
1            Albania  ALB   2889167.0     3945.217582
2            Algeria  ALG  39666519.0     4206.031232
3    American Samoa*  ASA     55538.0             NaN
4            Andorra  AND     70473.0             NaN
..               ...  ...         ...             ...
196          Vietnam  VIE  91703800.0     2111.138024
197  Virgin Islands*  ISV    103574.0             NaN
198            Yemen  YEM  26832215.0     1406.291651
199           Zambia  ZAM  16211767.0     1304.879014
200         Zimbabwe  ZIM  15602751.0      924.143819

[201 rows x 4 columns]

In [8]:
# Merge the three dataframes into one

merged_df = pd.merge(summer_df, winter_df, how= 'outer')
merged_df

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
36930,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze
36931,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
36932,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver
36933,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold
36934,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

In [9]:
# Rename the Country column to Code in order to match the other dataframes
merged_df = merged_df.rename(columns={'Country': 'Code'})

In [10]:
# Merge the Dictionary Dataframe with the medal data and create an index on the Athlete values
final_merged_df = pd.merge(merged_df, dictionary_df, how= 'left', on= "Code")
final_merged_df.set_index("Athlete")


final_merged_df

,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal,Country,Population,GDP per Capita
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Hungary,9844686.0,12363.543460
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Austria,8611088.0,43774.985174
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Greece,10823732.0,18002.230578
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Greece,10823732.0,18002.230578
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Greece,10823732.0,18002.230578
...,...,...,...,...,...,...,...,...,...,...,...,...
36930,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze,United Kingdom,65138232.0,43875.969614
36931,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold,United States,321418820.0,56115.718426
36932,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver,Canada,35851774.0,43248.529909
36933,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold,Czech Republic,10551219.0,17548.338213
36934,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze,France,66808385.0,36205.568102

In [15]:
# Filter the data to the year 2014 to match the Population and GDP per Capita data

df_2014=final_merged_df.loc[final_merged_df['Year']== 2014]
df_2014

,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal,Country,Population,GDP per Capita
36323,2014,Sochi,Biathlon,Biathlon,"LANDERTINGER, Dominik",AUT,Men,10KM,Silver,Austria,8611088.0,43774.985174
36324,2014,Sochi,Biathlon,Biathlon,"SOUKUP, Jaroslav",CZE,Men,10KM,Bronze,Czech Republic,10551219.0,17548.338213
36325,2014,Sochi,Biathlon,Biathlon,"BJOERNDALEN, Ole Einar",NOR,Men,10KM,Gold,Norway,5195921.0,74400.369777
36326,2014,Sochi,Biathlon,Biathlon,"MORAVEC, Ondrej",CZE,Men,12.5Km Pursuit,Silver,Czech Republic,10551219.0,17548.338213
36327,2014,Sochi,Biathlon,Biathlon,"BEATRIX, Jean Guillaume",FRA,Men,12.5Km Pursuit,Bronze,France,66808385.0,36205.568102
...,...,...,...,...,...,...,...,...,...,...,...,...
36930,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze,United Kingdom,65138232.0,43875.969614
36931,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold,United States,321418820.0,56115.718426
36932,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver,Canada,35851774.0,43248.529909
36933,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold,Czech Republic,10551219.0,17548.338213
36934,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze,France,66808385.0,36205.568102

In [12]:
# Create a dataframe of only gold medals

gold_df=final_merged_df.loc[final_merged_df['Medal'].str.contains("Gold", case=True)]


gold_df

,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal,Country,Population,GDP per Capita
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Hungary,9844686.0,12363.543460
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Greece,10823732.0,18002.230578
6,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200M Freestyle,Gold,Hungary,9844686.0,12363.543460
9,1896,Athens,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400M Freestyle,Gold,Austria,8611088.0,43774.985174
13,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100M,Gold,United States,321418820.0,56115.718426
...,...,...,...,...,...,...,...,...,...,...,...,...
36922,2014,Sochi,Skiing,Snowboard,"KUMMER, Patrizia",SUI,Women,Giant Parall.S.,Gold,Switzerland,8286976.0,80945.079219
36925,2014,Sochi,Skiing,Snowboard,"FARRINGTON, Kaitlyn",USA,Women,Half-Pipe,Gold,United States,321418820.0,56115.718426
36926,2014,Sochi,Skiing,Snowboard,"DUJMOVITS, Julia",AUT,Women,Parallel Slalom,Gold,Austria,8611088.0,43774.985174
36931,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold,United States,321418820.0,56115.718426
36933,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold,Czech Republic,10551219.0,17548.338213

In [13]:
# Create a dataframe of only silver medals
silver_df=final_merged_df.loc[final_merged_df['Medal'].str.contains("Silver", case=True)]
silver_df

,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal,Country,Population,GDP per Capita
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Austria,8611088.0,43774.985174
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Greece,10823732.0,18002.230578
7,1896,Athens,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200M Freestyle,Silver,Greece,10823732.0,18002.230578
10,1896,Athens,Aquatics,Swimming,"PEPANOS, Antonios",GRE,Men,400M Freestyle,Silver,Greece,10823732.0,18002.230578
14,1896,Athens,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100M,Silver,Germany,81413145.0,41313.313995
...,...,...,...,...,...,...,...,...,...,...,...,...
36920,2014,Sochi,Skiing,Snowboard,"TAKEUCHI, Tomoka",JPN,Women,Giant Parall.S.,Silver,Japan,126958472.0,32477.215145
36923,2014,Sochi,Skiing,Snowboard,"BRIGHT, Torah",AUS,Women,Half-Pipe,Silver,Australia,23781169.0,56310.962993
36927,2014,Sochi,Skiing,Snowboard,"KARSTENS, Anke",GER,Women,Parallel Slalom,Silver,Germany,81413145.0,41313.313995
36929,2014,Sochi,Skiing,Snowboard,"RUKAJARVI, Enni",FIN,Women,Slopestyle,Silver,Finland,5482013.0,42311.036231
36932,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver,Canada,35851774.0,43248.529909

In [14]:
# Create a dataframe of only bronze medals
bronze_df=final_merged_df.loc[final_merged_df['Medal'].str.contains("Bronze", case=True)]
bronze_df

,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal,Country,Population,GDP per Capita
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Greece,10823732.0,18002.230578
5,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200M Freestyle,Bronze,Greece,10823732.0,18002.230578
8,1896,Athens,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400M Freestyle,Bronze,Greece,10823732.0,18002.230578
11,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100M,Bronze,United States,321418820.0,56115.718426
12,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100M,Bronze,Hungary,9844686.0,12363.543460
...,...,...,...,...,...,...,...,...,...,...,...,...
36921,2014,Sochi,Skiing,Snowboard,"ZAVARZINA, Alena",RUS,Women,Giant Parall.S.,Bronze,Russia,144096812.0,9092.580536
36924,2014,Sochi,Skiing,Snowboard,"CLARK, Kelly",USA,Women,Half-Pipe,Bronze,United States,321418820.0,56115.718426
36928,2014,Sochi,Skiing,Snowboard,"KOBER, Amelie",GER,Women,Parallel Slalom,Bronze,Germany,81413145.0,41313.313995
36930,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze,United Kingdom,65138232.0,43875.969614
36934,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze,France,66808385.0,36205.568102

In [20]:
# Sort the data by country
gold_sort_df=gold_df.sort_values('Country', ascending=True,)

gold_sort_df

,Year,City,Sport,Discipline,Athlete,Code,Gender,Event,Medal,Country,Population,GDP per Capita
19874,1992,Barcelona,Athletics,Athletics,"BOULMERKA, Hassiba",ALG,Women,1500M,Gold,Algeria,39666519.0,4206.031232
21610,1996,Atlanta,Athletics,Athletics,"MORCELI, Nourredine",ALG,Men,1500M,Gold,Algeria,39666519.0,4206.031232
21946,1996,Atlanta,Boxing,Boxing,"SOLTANI, Hocine",ALG,Men,57 - 60KG (Lightweight),Gold,Algeria,39666519.0,4206.031232
29600,2012,London,Athletics,Athletics,"MAKHLOUFI, Taoufik",ALG,Men,1500M,Gold,Algeria,39666519.0,4206.031232
23536,2000,Sydney,Athletics,Athletics,"MERAH-BENIDA, Nouria",ALG,Women,1500M,Gold,Algeria,39666519.0,4206.031232
...,...,...,...,...,...,...,...,...,...,...,...,...
33936,1992,Albertville,Skiing,Cross Country Skiing,"EGOROVA, Ljubov",EUN,Women,4X5KM Relay,Gold,NaN,NaN,NaN
33937,1992,Albertville,Skiing,Cross Country Skiing,"LAZUTINA, Larissa",EUN,Women,4X5KM Relay,Gold,NaN,NaN,NaN
33938,1992,Albertville,Skiing,Cross Country Skiing,"SMETANINA, Raisa",EUN,Women,4X5KM Relay,Gold,NaN,NaN,NaN
33939,1992,Albertville,Skiing,Cross Country Skiing,"VAELBE, Elena",EUN,Women,4X5KM Relay,Gold,NaN,NaN,NaN
33954,1992,Albertville,Skiing,Cross Country Skiing,"EGOROVA, Ljubov",EUN,Women,Combined 5KM + 10KM Pursuit,Gold,NaN,NaN,NaN

In [33]:
# Use groupby to count the number of gold medals won by each country 

gold_count = gold_sort_df.groupby(['Code'])['Code'].count()
print(gold_count)

Code
ALG      5
ANZ     20
ARG     69
ARM      1
AUS    317
      ...
UZB      6
VEN      2
YUG    143
ZIM     18
ZZX     23
Name: Code, Length: 100, dtype: int64

In [32]:
# Use groupby to count the number of silver medals won by each country 

silver_count = silver_df.groupby(['Code'])['Code'].count()
print(silver_count)

Code
AHO      1
ALG      2
ANZ      4
ARG     99
ARM      2
      ...
VIE      2
YUG    180
ZAM      1
ZIM      4
ZZX     15
Name: Code, Length: 126, dtype: int64

In [31]:
# Use groupby to count the number of bronze medals won by each country 

bronze_count = bronze_df.groupby(['Code'])['Code'].count()
print(bronze_count)

Code
AFG      2
ALG      8
ANZ      5
ARG     91
ARM      8
      ...
VEN      8
YUG    119
ZAM      1
ZIM      1
ZZX     10
Name: Code, Length: 124, dtype: int64

In [38]:
# Create a dataframe containing the medal counts

medal_df = pd.DataFrame({"Total Gold Medals": gold_count,
                            "Total Silver Medals": silver_count,
                            "Total Bronze Medals": bronze_count
                               })
medal_df.head()

      Total Gold Medals  Total Silver Medals  Total Bronze Medals
Code
AFG                 NaN                  NaN                  2.0
AHO                 NaN                  1.0                  NaN
ALG                 5.0                  2.0                  8.0
ANZ                20.0                  4.0                  5.0
ARG                69.0                 99.0                 91.0